<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ 'Nilai a : ' + a }}</h1>
    <h1>{{ 'Nilai rata-rata : ' + b }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        a: 0,
        b: 0,
      },
      methods: {
        openForm: function () {
          for (let i = 1; i <= 1; i++) {
            this.a = prompt("masukan nilai a");
            this.a = this.a;
            var c = this.a;
          }

          for (let j = 1; j <= 1; j++) {
            this.a = prompt("masukan nilai b");
            this.a = this.a;
            var d = this.a;
          }

          for (let k = 1; k <= 1; k++) {
            this.a = prompt("masukan nilai c");
            this.a = this.a;
            var e = this.a;
          }

          for (let m = 1; m <= 1; m++) {
            this.a = prompt("masukan nilai d");
            this.a = this.a;
            var f = this.a;
          }
         
          
          var g = (parseInt(c) + parseInt(d) + parseInt(e) + parseInt(f))
          this.a = g
          
          this.b = this.a / 4
        },
      },
    });
  </script>
</body>
</html>