<!--Nyerah Kang (T_T)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form>
        <input v-model.lazy="tambah">
        </form>
        <button>Add</button>
        <br>
        <ul>
            <li type="text" v-for="nama in users"> {{nama.name}}
                <button>Edit</button>
                <button>Delete</button>
            </li>

            <li>
                {{tambah}}
                <button>Edit</button>
                <button>Delete</button>
            </li>
            
        </ul>
    </div>
    
  
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    //Nyerah Kang (T_T)
    var vm = new Vue({
        el: '#app',
        data: {
            tambah: "",
            users : [
                {name : 'Muhammad Iqbal Mubarok'},
                {name : 'Ruby Purwanti'},
                {name : 'Faqih Muhammad'},               
                ]
            }, 
        });
</script>

</body>
</html>

