<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="search">
        <ul v-for="buku in filterbuku">
            <li> {{buku.book}} </li>
        </ul>
    </div>
  
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            search: "",
            books : [
                {book : "Kalkulus Dasar"},
                {book : "Fisika Dasar"},
                {book : "Aljabar Liniar Elementer"},
                {book : "Aljabar Abstrak"},
                {book : "Algoritma Pemrograman"}   
                ]
            }, 
       
            computed: {
                filterbuku: function(){
                    return this.books.filter((buku) => {
                        return buku.book.toLowerCase().includes(this.search.toLowerCase())
                    });
                }
            }
    });
</script>

</body>
</html>

